///* http://meyerweb.com/eric/tools/css/reset/
//   v2.0 | 20110126
//   License: none (public domain)
//*/
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
//    margin: 0;
//    padding: 0;
//    border: 0;
//    font-size: 100%;
//    font: inherit;
//    vertical-align: baseline;
//}
//
///* HTML5 display-role reset for older browsers */
//article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
//    display: block;
//}
//
//body {
//    line-height: 1;
//}
//
//ol, ul {
//    list-style: none;
//}
//
//blockquote, q {
//    quotes: none;
//}
//
//blockquote:before, blockquote:after {
//    content: "";
//    content: none;
//}
//
//q:before, q:after {
//    content: "";
//    content: none;
//}
//
//table {
//    border-collapse: collapse;
//    border-spacing: 0;
//}
//
//.container {
//    max-width: 1165px;
//    margin: 0 auto;
//    box-sizing: border-box;
//    padding-inline: 1em;
//    padding-right: 10px;
//    padding-left: 10px;
//}
//@media (max-width: 768px) {
//    .container {
//        max-width: 680px;
//    }
//}
//@media (max-width: 375px) {
//    .container {
//        max-width: 340px;
//    }
//}
//
//html {
//    font-size: 16px;
//}
//@media (max-width: 768px) {
//    html {
//        font-size: 13px;
//    }
//}
//@media (max-width: 375px) {
//    html {
//        font-size: 10px;
//    }
//}

.editor {
    &-title {
        font-weight: bold;
        font-size: 54px;
        line-height: 54px;
        text-align: center;
        padding-top: 66px;
        font-family: Montserrat;
        text-transform: uppercase;
        color: #635C73;
    }
    &-item{
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        font-family: Lato;
        margin-top: 35px;
    }
    &-block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 13px;
        margin-bottom: 70px;
    }
    &-stat-item{
        display: flex;
        align-items: center;
        margin-right: 10px;
        border: 2px solid #d5d5d5;
        border-radius: 5px;
    }
    &-btn{
        display: flex;
        align-items: center;
        outline: 0;
        border: none
    }
    &-btn-item{
        padding-left: 5px;
        padding-right: 5px;
    }
}

    .stat-info{
        padding-left: 5px;
    }
    @media (min-width:481px) and (max-width:992px){
        .editor {
            &-section {
                padding: 160px 0
            }

            &-title {
                font-size: 42px;
                line-height: 42px;
                color: #635c73
            }

           &-item {
                margin-bottom: 24px;
                padding: 0 30px;
                font-size: 21px;
                line-height: 32px;
                color: #323232
            }
        }
    }

    @media (min-width:481px){
        .editor {
            &-block {
                max-width: 100%
            }

            &-block:not(:last-child) {
                margin-right: 25px
            }
        }
    }
    @media (min-width:993px) {
        .editor {
            &-section {

            padding: 130px 0 70px
        }
        &-title {
            font-size: 54px;
            line-height: 54px
        }
        &-item {
            font-size: 21px;
            line-height: 32px;
            padding: 0 240px
         }
        }
    }

    .advantages {
        &__heading {
            margin-bottom: 36px;
            text-align: center;
            text-transform: uppercase;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: #8d81ac
        }
    &__img-frame{
        -webkit-transform:translateX(10px);
        -ms-transform:translateX(10px);
        transform:translateX(10px);
        margin-top:20px;
        margin-bottom:5px;
        display:-webkit-box
    ;display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:end;
        -ms-flex-pack:end;
        justify-content:flex-end
    }
    &__img{
        width:100%;
        height:100%;
        max-width:700px
    }
    }
    .advantage{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        margin-bottom:40px;
        padding:0 10px;
    &__img-frame{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        margin-bottom:25px
    }
    &__heading{
        margin-bottom:14px;
        text-align:center;
        font-family:Montserrat;
        text-transform:capitalize;
        font-size:16px;
        line-height:16px;
        color:#323232
    }
    &__text{
        font-family:Lato;
        font-size:14px;
        line-height:21px;
        text-align:center;
        color:#848e97
    }
    }

    @media (min-width:481px) and (max-width:992px){
        .advantages{
            padding-left:20px;
            padding-right:20px;
        &__img-frame{
            -webkit-transform:translateX(20px);
            -ms-transform:translateX(20px);
            transform:translateX(20px)
        }
        }
    }
    @media (min-width:993px){
        .advantages{
            padding-top:95px;
            padding-bottom:35px;
            background:#f4f4f4;
        &-title{
            grid-area:advantages-heading;
            margin:0;
        }
        &__items{
            grid-area:advantages-items;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
            -ms-flex-direction:column;
            flex-direction:column;
            -webkit-box-pack:justify;
            -ms-flex-pack:justify;
            justify-content:space-between;
        }
        &__img-frame{
            max-height:510px;
            grid-area:advantages-img-frame
        }
        }
        .advantages .container{
            display:grid;
            grid-template-rows:45px 4fr;
            grid-template-columns:1fr 1fr;
            grid-template-areas:"advantages-items advantages-heading" "advantages-items advantages-img-frame"
        }
        .advantage{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
            -ms-flex-direction:row;
            flex-direction:row;
        &__heading{
            font-size:16px;
            line-height:21px;
            color:#323232;
            margin-bottom:17px
        }
        &__info{
            max-width:400px
        }
        &__text{
            font-size:14px;
            line-height:21px;
            color:#848e97
        }
        }
    }

    .pricing .container{
        width:100%
    }
    .pricing button{
        outline:0;
        border:none
    }
    .pricing{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        padding-top:15px;
        padding-bottom:15px;
        background:#4b3b4e;
    &-title{
        margin-bottom:32px;
        text-align:center;
        font-family:Montserrat;
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        color:#fff
    }
   &__cards{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        width:100%
    }
    &-card{
        width:90%;
        max-width:300px;
        height:457px;
        margin-bottom:18px;
        padding-bottom:40px;
        background:#5f5161
    }
    &-card:first-child .pricing-card__type{
        margin-bottom:65px
    }
    &-card__category{
        max-width:100%;
        margin-bottom:30px;
        padding:36px 0;
        font-family:Montserrat;
        text-align:center;
        font-size:23px;
        line-height:24px;
        text-transform:uppercase;
        color:#fff;
        background:#695b6a
    }
    &-card__price::after{
        content:'';
        display:block;
        width:60px;
        height:5px;
        background-color:#8d81ac;
        margin:38px auto 30px
    }
    &-card__price-value{
        margin-bottom:20px;
        font-family:Montserrat;
        font-size:60px;
        line-height:62px;
        font-weight:700;
        text-transform:uppercase;
        color:#fff;
        text-align:center
    }
    &-card__price-value .currency{
        font-weight:400
    }
    &-card__price-period{
        font-family:Montserrat;
        font-size:14px;
        line-height:16px;
        text-align:center;
        text-transform:uppercase;
        color:#fff
    }
    &-card__type{
        margin-bottom:37px;
        font-family:Montserrat;
        font-style:normal;
        font-weight:400;
        font-size:16px;
        line-height:28px;
        text-align:center;
        color:#fff
    }
    &-card__purchase-btn{
        display:block;
        margin:0 auto;
        padding:15px 38px;
        background-color:#776b79;
        font-family:Montserrat;
        font-size:15px;
        line-height:15px;
        text-transform:uppercase;
        color:#fff;
        border-radius:20px
    }
    &-card-scaled{
        justify-self:end;
        height:560px;
        width:100%;
        max-width:340px;
        padding-bottom:0;
        background-color:#473249
    }
    &-card-scaled &-card__category{
        background-color:#3f2c41
    }
    &-card-scaled &-card__price::after{
        margin-top:46px;
        margin-bottom:40px
    }
    &-card-scaled &-card__price-value{
        font-size:82px;
        line-height:84px
    }
    &-card-scaled &-card__purchase-btn{
        padding:19px 48px;
        background:#635164
    }
    }
    @media (min-width:481px){
        .pricing{
            background-image: url(../src/img/pricing.png);
            background-size:cover;
        &__heading{
            padding:75px 0 40px
        }
        &__cards{
            display:grid;
            grid-column-gap:20px;
            grid-row-gap:10px;
            grid-template-columns:1fr 1fr;
            grid-template-rows:1fr 1fr
        }
        &-card{
            margin:0;opacity:.8
        }
       &-card:first-child{
            justify-self:end
        }
        &-card:nth-child(4n){
            -ms-flex-item-align:center;
            align-self:center
        }
        }
    }
    @media (min-width:993px){
        .pricing{
            padding-left:30px;
            padding-right:30px;
        &__heading{
            font-size:48px;
            line-height:50px
        }
        &__cards{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
            -ms-flex-direction:row;
            flex-direction:row;
            -webkit-box-pack:justify;
            -ms-flex-pack:justify;
            justify-content:space-between
        }
        &-card{
            width:calc(72% / 3 - 10px)
        }
        &-card-scaled{
            width:28%
        }
        }
    }
