.fork {
  background-image: url("../img/forkbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  position: relative;

  &__menu {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    grid-template-columns: auto 2fr auto;
    padding: 22px 20px;
    box-sizing: border-box;
  }

  &__logo {
    display: flex;
    align-items: center;

    &:hover {
      .fork__logo-img {
        content: url("../img/header-logo-white.png");
      }

      .fork__logo-title {
        color: $--white;
      }
    }

    &-title {
      font-family: Lato, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 16px;
      color: $--purple;
      margin-left: 17px;
    }
  }

  &__nav {
    justify-self: flex-end;
  }

  &__nav-list {
    display: flex;

    &-text {
      font-weight: bold;
      font-size: 16px;
      color: $--purple;
      margin-left: 48px;
      text-decoration: none;
    }

    &-item:hover {
      .fork__nav-list-text {
        color: $--white;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: $--purple;
    width: 145px;
    height: 37px;
    border-radius: 40px;
    margin-left: 48px;

    &:hover {
      background: $--white;
      border: 1px solid $--purple;

      .fork__button-text {
        color: $--purple;
      }
    }

    &-text {
      text-decoration: none;
      color: $--white;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__burger {
    display: none;
  }

  &__main {
    display: grid;
    color: $--white;
    text-align: center;
    margin-top: 83px;
    grid-gap: 19px;
    &-title {
      font-weight: 700;
      font-size: 82px;
    }
    &-subtitle {
      font-size: 30px;
      color: $--purple;
    }
    &-description {
      font-size: 16px;
      color: #848E97;
    }
  }

  &__action {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 390px;
      height: 62px;
      box-sizing: border-box;
      background: $--purple;
      border-radius: 40px;
      color: $--white;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 18px;
      &:hover {
        background: $--white;
        border: 1px solid $--purple;
        color: $--purple;
      }
    }
    &-text {
      font-size: 14px;
      color: #848E97;
      text-align: center;
    }
  }
}

@media(min-width: 481px) and (max-width: 992px) {

  .fork {
    &__menu {
      height: 118px;
      background: #27262A;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr;
    }

    &__nav {
      justify-content: normal;
      width: 100%;
      align-self: end;
      grid-row: 2/-1;
      grid-column: 1/-1;
      box-sizing: border-box;
      padding: 0 35px;

      &-list {
        justify-content: space-around;

        &-text {
          margin-left: 0;
        }
      }
    }

    &__button {
      justify-self: flex-end;
    }

    &__main {
      &-title {
        font-size: 72px;
      }

      &-subtitle {
        font-size: 24px;
      }

      &-description {
        font-size: 14px;
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 480px) {

  .fork {
    height: 718px;

    &__menu {
      background: #27262A;
      height: 103px;
    }

    &__logo {
      &-title {
        display: none;
      }
    }

    &__nav {
      display: none;
      justify-self: center;

      &.open {
        display: block;
        position: absolute;
        top: 103px;

        .fork__nav-list {
          display: grid;
          grid-auto-rows: 88px;
          grid-template-columns: 290px;
          background: #3B3B3B;
          align-items: center;
          color: $--white;
          grid-gap: 3px;

          &-item {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background: #333333;
            position: relative;

            &:hover {
              .fork__nav-list-text {
                color: $--purple;

                &::before {
                  content: "";
                  position: absolute;
                  width: 8px;
                  height: 53px;
                  background: $--purple;
                  left: 3px;
                  top: 19px;
                }
              }
            }
          }

          &-text {
            color: $--white;
            font-size: 26px;
            font-weight: 400;
          }
        }
      }
    }

    &__main {
      padding: 0 12px;

      &-title {
        font-size: 48px;
      }

      &-subtitle {
        font-size: 18px;
        text-transform: capitalize;
      }

      &-description {
        font-size: 14px;
      }
    }

    &__action {
      &-btn {
        width: 290px;
        height: 45px;
        font-size: 18px;
      }

      &-text {
        font-size: 14px;
      }
    }

    &__burger {
      display: block;

      &-king {
        position: relative;
        width: 26px;
        height: 20px;
        border-radius: 5px;

        &-first {
          position: absolute;
          height: 3px;
          width: 100%;
          bottom: 0;
          background-color: $--white;
          border-radius: 5px;
          transition: 0.3s;
        }

        &-first::after {
          content: "";
          position: absolute;
          bottom: 10px;
          height: 3px;
          background-color: $--white;
          width: 100%;
          border-radius: 5px;
        }

        &-second {
          position: absolute;
          height: 3px;
          width: 60%;
          bottom: 20px;
          background-color: $--white;
          border-radius: 5px;
          right: 0;
          transition: 0.3s;
        }

        &.open {
          .fork__burger-king-first {
            transform: rotate(45deg);
            width: 100%;
            bottom: 10px;

            &::after {
              display: none;
            }
          }

          .fork__burger-king-second {
            transform: rotate(-45deg);
            width: 100%;
            bottom: 10px;
          }
        }
      }
    }

    &__button {
      margin-left: 0;
      justify-self: center;
    }
  }
}




