.people {
  background-image:url('../img/people-background.png');
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title{
    font-weight: bold;
    font-size: 48px;
    color: $--white;
    text-align: center;
    padding-top: 108px;
    margin-bottom: 82px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,336px);
    grid-auto-rows: 152px;
    justify-content: center;
    grid-gap: 112px 82px;
    margin-bottom: 118px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo{
    display: flex;
    justify-content: center;
    &-text{
      font-family: Lato,sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $--white;
      text-align:center;
    }
  }
  &__description{
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    text-align: center;
    padding: 20px 32px;
  }
}

@media(min-width:481px) and (max-width:992px){
  .people{
    &__grid{
      grid-template-columns: repeat(auto-fill, 336px);
      grid-gap: 88px 63px;
      margin-bottom: 68px;
    }
    &__title{
      font-size: 42px;
      line-height: 44px;
    }
  }
}

@media(min-width: 320px) and (max-width: 480px){
  .people{
    &__grid{
      grid-template-columns: repeat(1, 270px);
      grid-gap: 75px 0;
      margin-bottom:38px;
    }
    &__title{
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 53px;
    }
    &__description  {
      padding: 20px 16px;
    }
  }
}

