@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixins';

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px;
}
 body{
   font-family: Montserrat, sans-serif;
 }

@import './sections/main';



